@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// font-family: 'Open Sans', sans-serif;
// variables
$topHeaderSize: 60px;
$sideNavSize: max(240px, 15%);
$menuWidth: $sideNavSize;

$theme: #0ea5e9;
$white: #f8fafc;
$dark: #1e293b;
$mid: #475569;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// general styles

button {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: background 0.1s ease;
  &,
  & * {
    white-space: nowrap;
  }
  &:hover,
  &:active {
    background-color: rgba($color: $mid, $alpha: 0.1);
  }
}

// main styles
body {
  background-color: $white;
  color: $dark;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: $sideNavSize 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  background-color: $theme;
  color: $white;
  height: 100%;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr $sideNavSize;
  align-items: center;

  .header-title {
    margin-right: auto;
    font-size: 1.75rem;
    padding: 0 2rem;
  }
  .menu-container {
    height: 100%;
    width: 100%;
    position: relative;
    .open-button {
      height: 100%;
      width: 100%;
      color: inherit;
      padding: 0 2rem;
      font-weight: 500;
      padding-bottom: 0.3rem;
      .icon {
        font-size: 1.5rem;
        margin-left: 0.3rem;
        position: relative;
        top: 0.2rem;
        font-weight: 600;
      }
    }
    button.pressed {
      box-shadow: 0 0 10px $dark inset;
      .menu {
        display: block;
      }
    }
    .menu {
      width: 100%;
      position: absolute;
      top: 100%;
      right: 0;
      display: none;
    }
  }
}

.nav-side-bar {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: rgba($color: mix($theme, $mid, 25%), $alpha: 0.1);
  section {
    display: grid;
    justify-items: left;
    align-items: center;
    button:not(.short-button) {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0.3rem 1rem;
      width: 100%;
    }
  }
  .specials {
    .nav-special-button {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;

      &:first-child {
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }
}

.projects {
  .projects-header {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    width: 100%;
  }
  .projects-nav {
    display: grid;
    .project-button {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.5rem;
      .short-button {
        justify-self: end;
      }
    }
  }
}
